// -----------------------------------------------------------------------
// header menu
// -----------------------------------------------------------------------
.header_manu__container {
  display: grid;
  grid-template-columns: 149px 1fr 233px;
  align-items: center;
  padding: $header_logo_nav_container__padding;
  @include tablet-screens {
    padding: $header_logo_nav_container__padding-tablet;
  }
  @include one-thousent {
    grid-template-columns: 149px 1fr 50px;
    grid-template-rows: auto;
    grid-template-areas: "logo buttons hamburger" "menu menu menu";
  }
  @include ipad-screens {
    padding: $header_logo_nav_container__padding-ipad;
    grid-template-columns: 149px 1fr 0;
    grid-template-areas: "logo hamburger hamburger" "menu menu menu";
  }
  @include mobile-screens {
    padding: $header_logo_nav_container__padding-mobile;
  }
}

// -----------------------------------------------------------------------
// header menu logo
// -----------------------------------------------------------------------
.header_manu__logo {
  flex-grow: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  vertical-align: middle;
  p {
    font-weight: $header_logo_font_weight;
    font-size: $header_logo_font_size;
    line-height: $header_logo_line_height;

    span {
      font-weight: bold;
    }
  }
  @include one-thousent {
    grid-area: "logo";
    order: 1;
  }
}

.svg_logo {
  height: $logo-height;
  width: $logo-width;
}

// -----------------------------------------------------------------------
// nav bar links
// -----------------------------------------------------------------------

.header_manu__links {
  padding-left: 10px;
  display: block;
  @include large-screens {
    padding-right: 150px;
    padding-left: 157px;
  }
  @include one-thousent {
    order: 4;
    grid-area: menu;
    padding-left: 0;
    display: none;
  }
}

.header_navBar__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 40px;
  @include one-thousent {
    justify-content: space-evenly;
    padding-top: 15px;
  }
  @include large-screens {
    justify-content: space-between;
  }
  @include tablet-screens {
    justify-content: space-around;
    gap: 0;
  }
  @include mobile-screens {
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }
}

.header_navBar__item {
  align-items: center;
  text-transform: capitalize;
  vertical-align: middle;
  a {
    font-family: $font_family_main;
    display: block;
    font-size: $header_links_font_size;
    line-height: $header_links_line_height;
    font-weight: $header_links_font_weight;
    font-style: $header_links_font_style;
  }
}

// -----------------------------------------------------------------------
// nav bar buttons
// -----------------------------------------------------------------------

.header_manu__btns {
  display: flex;
  align-items: center;
  gap: 30px;
  @include tablet-screens {
    justify-content: flex-end;
    gap: auto;
  }
  @include one-thousent {
    grid-area: "buttons";
    order: 2;
  }
  @include ipad-screens {
    gap: 10px;
    display: none;
  }
}

// -----------------------------------------
// MOBILE HEADER LOG IN AND LOG UP
// -----------------------------------------

.header_log_container-mobile {
  display: none;
  border-top: 2px solid black;
  justify-content: center;
  align-items: center;

  @include mobile-screens {
    display: flex;
  }
}

.header_log_in {
  width: 50%;
}

.header_log_up {
  width: 50%;
}

// -----------------------------------------
// HEADER BANNER AND HERO IMAGE
// -----------------------------------------
.header_banner_wrapper {
  display: flex;
  padding: $header_banner__headline_padding-main;
  @include tablet-screens {
    padding: $header_banner_padding-tablet;
    gap: 0;
    justify-content: space-between;
  }
  @include one-thousent {
    flex-direction: column;
  }
  @include ipad-screens {
    padding: $header_banner_padding-ipad;
  }
  @include mobile-screens {
    padding: $header_banner_padding-mobile;
  }
}

.header_banner-headline {
  width: 45.982%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include one-thousent {
    width: 100%;
  }
}

.header_banner-hero {
  width: 54.018%;
  padding: 0 0 0 40.76px;
  object {
    width: 100%;
    height: 99.36%;
    @include one-thousent {
      width: 100%;
    }
  }
  @include one-thousent {
    width: 100%;
  }
}

.header_banner-headline {
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 50px;

    @include tablet-screens {
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }
  a {
    margin-bottom: 30px;
  }
}

// -----------------------------------------
// HEADER MAIN OVERVIEW
// -----------------------------------------

.header_main_overview-wrapper {
  padding: $header_main_owerwiev_wraper__padding;
  @include tablet-screens {
    padding: $header_main_owerwiev_wraper__padding-tablet;
  }
  @include ipad-screens {
    padding: $header_main_owerwiev_wraper__padding-ipad;
  }
  @include mobile-screens {
    padding: $header_main_owerwiev_container__padding-mobile;
  }
}

.header_main_overview_container {
  padding: $header_main_owerwiev_container__padding;
  position: relative;
  border-radius: 10px;
  @include tablet-screens {
    padding: $header_main_owerwiev_container__padding-tablet;
  }
  @include ipad-screens {
    padding: $header_main_owerwiev_container__padding-ipad;
  }
  @include mobile-screens {
    padding: $header_main_owerwiev_container__padding-mobile;
  }
}

.header_main_overview_items-list {
  display: flex;
  height: 125.057px;
  position: relative;
  top: 37.21px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 48px 114px rgba(13, 16, 37, 0.06);
  @include one-thousent {
    height: auto;
    flex-direction: column;
  }
}

.header_main_overview-icon {
  width: 55px;
  height: 55px;
  background-color: $color__light_pink;
  border-radius: 70px;
  position: relative;

  object {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .overview_svg {
    width: 20px;
    height: 18px;
  }
  .overview_svg_user {
    width: 16.8px;
    height: 18px;
  }
  .overview_svg_service {
    width: 20px;
    height: 18px;
  }
}

.header_main_overview-item {
  display: flex;
  gap: 36.5px;
  align-items: center;
}

.header_main_overview-text {
  text-transform: capitalize;
  h4 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 5px;
  }
  p {
    font-size: 2rem;
    line-height: 3rem;
    color: $color__grey;
  }
}

.overview_vertical_line {
  height: 125.057px;
  width: 0px;
  border: 1px solid $color__light_grey-line;
  @include one-thousent {
    transform: rotate(90deg);
  }
}

.users {
  .header_main_overview-text {
    margin-right: 129px;
    @include base-width {
      margin-right: unset;
    }
  }
}

.location {
  .header_main_overview-icon {
    margin-left: 113px;
    @include base-width {
      margin-left: unset;
    }
  }
  .header_main_overview-text {
    margin-right: 134.5px;
    @include base-width {
      margin-right: unset;
    }
  }
}

.service {
  .header_main_overview-icon {
    margin-left: 91.5px;
    @include base-width {
      margin-left: unset;
    }
  }
}

.overview-left {
  position: absolute;
  left: 274.5px;
  @include base-width {
    position: unset;
  }
  @include large-screens {
    position: unset;
  }
}

.overview-right {
  position: absolute;
  left: 704.5px;
  @include base-width {
    position: unset;
  }
  @include large-screens {
    position: unset;
  }
}
