// -----------------------------------------------------------------------
// header menu
// -----------------------------------------------------------------------
.header_manu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $header_logo_nav_container__padding;
}

// -----------------------------------------------------------------------
// header menu logo
// -----------------------------------------------------------------------
.header_manu__logo {
  flex-grow: 299px;
  display: flex;
  align-items: center;
  gap: 10px;
  vertical-align: middle;
  p {
    font-size: 100%;
    line-height: 120%;
    font-weight: $font_weight_button;
    span {
      font-weight: bold;
    }
  }
}

.svg_logo {
  height: $logo-height;
  width: $logo-width;
}

// -----------------------------------------------------------------------
// nav bar links
// -----------------------------------------------------------------------

.header_manu__links {
  flex-grow: 3;
  margin-left: $links_margin_left;
}

.header_navBar__list {
  display: flex;
  list-style: none;
  justify-content: baseline;
  gap: 40px;
}

.header_navBar__item {
  text-transform: capitalize;
  vertical-align: middle;
  a {
    font-size: 80%;
    line-height: 95%;
    font-family: $font_weight_main;
  }
}

// -----------------------------------------------------------------------
// nav bar buttons
// -----------------------------------------------------------------------

.header_manu__btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding-right: $header_btn_padding;
}

// -----------------------------------------------------------------------

//  MEDIA QUERIS

// -----------------------------------------------------------------------

@media screen and (min-width: 1441px) {
  .header_manu__container {
    justify-content: center;
  }
  .header_manu__links {
    margin-right: $links_margin_right;
  }
  .header_navBar__list {
    justify-content: space-around;
  }
}
