// -----------------------------------------
// Colors
// -----------------------------------------
$color__main_red: #f53838;
$color__green: #2fab73;
$color__main_white: #ffffff;
$color__light_pink: #ffecec;
$color__main_black: #000000;
$color__black: #0b132a;
$color__black_secondary: #0d1025;
$color__grey: #4f5665;
$color__grey_secondary: #afb5c0;
$color__light_grey: #f5f5f6;
$color__background__footer: #f8f8f8;
