* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}
html {
  font-family: $font_family_main;
  font-size: rem($font_size__main);
}

body {
  letter-spacing: normal;
  font-style: normal;
  min-width: 320px;
}

h1 {
  font-size: rem(50px);
  line-height: rem(70px);
  font-weight: $font_weight_button;
  color: $color__black;
  font-style: normal;
  span {
    font-weight: 700;
  }
}

a {
  color: $color__grey;
  text-decoration: none;
}
