* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
html {
  font-family: $font_family_main;
  font-size: rem($font_size__main);
}

body {
  letter-spacing: normal;
  font-style: normal;
  min-width: 320px;
}

h1 {
  font-size: 5rem;
  line-height: 7rem;
  font-weight: $font_weight_button;
  color: $color__black;
  font-style: normal;
  span {
    font-weight: 700;
  }

  @include one-thousent {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }

  @include tablet-screens {
    font-size: 3rem;
    line-height: 5rem;
  }

  @include ipad-screens {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }
}

p {
  font-family: $font_family_main;
  font-size: 1.6rem;
  line-height: 3rem;
  font-family: $font_weight_main;
  font-style: normal;
}

a {
  color: $color__grey;
  text-decoration: none;
}
