@mixin googleFont($font) {
  $font: unquote($font);
  @import url("https://fonts.googleapis.com/css2?family=#{$font}:wght@400;500;700&display=swap");
}

@mixin log_buttons() {
  display: block;
  text-transform: capitalize;
  width: fit-content;
  background: transparent;
  font-size: 1.6rem;
  line-height: 1.9rem;
  border: none;
  color: #0b132a;
  font-weight: 600;
}

@mixin clearfix() {
  &::before,
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  &:after {
    display: block;
    clear: both;
  }
}

@mixin header2(
  $font_size: 3.5rem,
  $line_height: 5rem,
  $font_weight: $font_weight_button
) {
  font-size: $font_size;
  line-height: $line_height;
  font-weight: $font-weight;
}
@mixin mobile-screens() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin ipad-screens() {
  @media screen and(max-width:768px) {
    @content;
  }
}

@mixin one-thousent() {
  @media screen and(max-width: 1000px) {
    @content;
  }
}

@mixin tablet-screens() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin base-width() {
  @media screen and (max-width: 1390px) {
    @content;
  }
}

@mixin large-screens() {
  @media screen and(min-width:1441px) {
    @content;
  }
}
