@mixin googleFont($font) {
  $font: unquote($font);
  @import url("https://fonts.googleapis.com/css2?family=#{$font}:wght@400;500;700&display=swap");
}

@mixin log_buttons() {
  display: block;
  text-transform: capitalize;
  width: fit-content;
  background: transparent;
  font-size: 1.6rem;
  line-height: 1.9rem;
  border: none;
  color: #0b132a;
  font-weight: 600;
}
@mixin redbutton(
  $font_size: 1.6rem,
  $line_height: 2.5rem,
  $font_weight: 700,
  $padding: 1.75rem 7.75rem
) {
  font-size: $font_size;
  line-height: $line_height;
  font-style: normal;
  font-weight: 700;
  padding: 1.75rem 7.75rem;
  color: #ffffff;
  text-transform: capitalize;
  background-color: #f53838;
  border-radius: 10px;
  width: fit-content;
}

@mixin clearfix() {
  &::before,
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  &:after {
    display: block;
    clear: both;
  }
}

@mixin header2(
  $font_size: 3.5rem,
  $line_height: 5rem,
  $font_weight: $font_weight_button
) {
  font-size: $font_size;
  line-height: $line_height;
  font-weight: $font-weight;
}

@mixin offer_price() {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  color: $color__black;
}

@mixin offer_price_btn() {
  border: 2px solid $color__main_red;
  border-radius: 50px;
  height: 45px;
  max-width: 177.88px;
  margin: 0 auto;
  background: transparent;
  color: $color__main_red;
  font-size: 1.6rem;
  line-height: 1.896rem;
  font-weight: 700;
}

@mixin mobile-screens() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin ipad-screens() {
  @media screen and(max-width:768px) {
    @content;
  }
}

@mixin one-thousent() {
  @media screen and(max-width: 1000px) {
    @content;
  }
}

@mixin tablet-screens() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin base-width() {
  @media screen and (max-width: 1390px) {
    @content;
  }
}

@mixin large-screens() {
  @media screen and(min-width:1441px) {
    @content;
  }
}
